body{
    background-image: url('image/library\ use.jpg');   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;    
}

.container{
    position: absolute;
    top: 30%;
    left: 40%;
    /* background-color: #fff; */
    min-width: 35vh;
    min-height: 15vh;
}

.header{
    border: 2px solid black ;
    padding: 0.6rem;
    font-size: 1.2rem;
    margin: 0rem 0rem 2rem 0rem;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.card{
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: 5px 5px 1px 0.2px black;
}

